{% extends 'core/base.html' %} 

{% block title %}About{% endblock %} 

{% block content %}
    <body class="bg-gray-100">
        <div class="container mx-auto mt-8 px-4">
            <h1 class="text-3xl font-semibold text-center mb-6">About Us</h1>
            <p class="text-lg text-gray-700 mb-8">Welcome to our online marketplace! We're dedicated to providing a seamless shopping experience for our customers and connecting them with a diverse range of products and sellers.</p>
            <p class="text-lg text-gray-700 mb-8">At Puddle, we believe in the power of community and collaboration. Our platform brings together buyers and sellers from around the world, creating a vibrant marketplace where everyone can find what they're looking for.</p>
            <p class="text-lg text-gray-700 mb-8">Thank you and We're excited to embark on this journey with you and create a thriving community of buyers and sellers. Happy shopping!</p>
        </div>
    </body>
{% endblock %}
