{% extends 'core/base.html' %} 

{% block title %}Contact{% endblock %} 

{% block content %}
    <body class="bg-gray-100">
        <div class="container mx-auto mt-8 px-4">
            <h1 class="text-3xl font-semibold text-center mb-6">Terms of Use</h1>
            <p class="text-sm text-gray-700 mb-8">Welcome to Puddle! By using our website, you agree to comply with these terms of use. Please read them carefully before accessing or using our platform.</p>
            <h2 class="text-md font-semibold mb-4">User Conduct</h2>
            <p class="text-sm text-gray-700 mb-8">You agree to use our platform for lawful purposes and in compliance with all applicable laws and regulations. You may not use our platform to engage in any illegal activities, violate the rights of others, or transmit harmful or objectionable content.</p>
            <h2 class="text-md font-semibold mb-4">Intellectual Property</h2>
            <p class="text-sm text-gray-700 mb-8">All content on our platform, including text, graphics, logos, and images, is the property of [Your Marketplace Name] and is protected by copyright and other intellectual property laws. You may not use, reproduce, or distribute any content from our platform without our prior written consent.</p>
            <h2 class="text-md font-semibold mb-4">Disclaimer of Warranties</h2>
            <p class="text-sm text-gray-700 mb-8">Our platform is provided on an "as is" and "as available" basis, without any warranties of any kind, express or implied. We do not guarantee the accuracy, reliability, or completeness of any content on our platform, and we disclaim all liability for any errors or omissions.</p>
            <h2 class="text-md font-semibold mb-4">Limitation of Liability</h2>
            <p class="text-sm text-gray-700 mb-8">In no event shall Puddle be liable for any indirect, incidental, special, or consequential damages arising out of or in connection with your use of our platform, whether based on warranty, contract, tort, or any other legal theory, even if we have been advised of the possibility of such damages.</p>
            <p class="text-sm text-gray-700 mb-8">If you have any questions or concerns about our terms of use, please contact us via the contact page.</p>
        </div>
    </body>
{% endblock %}
